@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Pacifico&display=swap');
.cube__side,
.no-js .cube {
	border: 0.75vw solid #fff;
	outline: 1px solid #fff;
	background: #f0f0f0 url(../img/image.002.png) no-repeat center center;
}
.cube:not(.cube--inactive):nth-child(1) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(1) {
	background-image: url(../img/d.030.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(2) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(2) {
	background-image: url(../img/d.001.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(3) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(3) {
	background-image: url(../img/d.002.png);
	color: #f44336;
      background-size: contain;
}

.cube:not(.cube--inactive):nth-child(4) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(4) {
	background-image: url(../img/d.003.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(5) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(5) {
	background-image: url(../img/d.004.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(6) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(6) {
	background-image: url(../img/d.005.png);
	color: #f44336;
      background-size: contain;
}

.cube:not(.cube--inactive):nth-child(7) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(7) {
	background-image: url(../img/d.006.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(8) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(8) {
	background-image: url(../img/d.007.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(9) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(9) {
	background-image: url(../img/d.008.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(10) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(10) {
	background-image: url(../img/d.009.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(11) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(11) {
	background-image: url(../img/d.010.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(12) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(12) {
	background-image: url(../img/d.011.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(13) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(13) {
	background-image: url(../img/d.012.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(14) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(14) {
	background-image: url(../img/d.013.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(15) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(15) {
	background-image: url(../img/d.014.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(16) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(16) {
	background-image: url(../img/d.015.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(17) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(17) {
	background-image: url(../img/d.016.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(18) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(18) {
	background-image: url(../img/d.017.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(19) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(19) {
	background-image: url(../img/d.018.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(20) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(20) {
	background-image: url(../img/d.019.png);
	color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(21) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(21) {
	background-image: url(../img/d.020.png);
	color: #f44336;
    background-size: contain;
}
.cube:not(.cube--inactive):nth-child(22) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(22) {
	background-image: url(../img/d.021.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(23) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(23) {
	background-image: url(../img/d.022.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(24) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(24) {
	background-image: url(../img/d.023.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(25) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(25) {
	background-image: url(../img/d.024.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(26) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(26) {
	background-image: url(../img/d.025.png);
    color: #f44336;
    background-size: contain;
    
}

.cube:not(.cube--inactive):nth-child(27) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(27) {
	background-image: url(../img/d.026.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(28) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(28) {
	background-image: url(../img/d.027.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(29) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(29) {
	background-image: url(../img/d.028.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(30) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(30) {
	background-image: url(../img/d.029.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(31) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(31) {
	background-image: url(../img/d.030.png);
    color: #f44336;
    background-size: contain;
}

.cube:not(.cube--inactive):nth-child(32) .cube__side,
.no-js .cube:not(.cube--inactive):nth-child(32) {
	background-image: url(../img/d.031.png);
    color: #f44336;
    background-size: contain;
}


/*inactive cube*/
.cube--inactive .cube__side,
.no-js .cube--inactive {
    height: 0;
    width: 0;
    overflow: hidden;
	background-color: transperent;
    backface-visibility:hidden;
    -webkit-transform: rotateX(-90deg) translateZ(0vw);
		transform: rotateX(-90deg) translateZ(0vw);
}


















/* With JS we insert a number span into the cube */

.cube__number,
.no-js .cube::after {
	font-family: 'Mali', Mali, 'Avenir', Avenir, 'Pacifico', Pacifico, cursive;
	font-weight: 700;
	line-height: 2.5;
	width: 2em;
	height: 2em;
	padding: 0 0 0 0.25em;
	text-align: center;
	letter-spacing: -0.05em;
	color: #fff;
	border-radius: 100% 0 0 0;
	background: #f8af8d;
}

.cube:nth-child(2n):not(.cube--inactive) .cube__number,
.no-js .cube:nth-child(2n):not(.cube--inactive)::after {
	background: #f8d18d;
}

.cube:nth-child(3n):not(.cube--inactive) .cube__number,
.no-js .cube:nth-child(3n):not(.cube--inactive)::after {
	background: #8df88d;
}

.cube--inactive .cube__number,
.no-js .cube--inactive::after {

  background: #aaa;
}

.js .content__block {
	text-align: right;
}

.content__number {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	font-size: 40vw;
	font-weight: bold;
	line-height: 0.5;
	right: 0;
	bottom: 30vh;
	text-indent: -0.175em;
	letter-spacing: -0.175em;
	color: #fff;
}


.header_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 5em;
 
}
.pas{
    font-family: 'Pacifico', cursive;
}
.mali
{
    font-family: 'Mali', cursive;
}